/* Background Colour */
/* Set to hex colour light grey */
html {
    background-color: #d3d3d3;
}

/* Body Page */
/* Sets the body to white background with the dimensions of 510 and 960 (Width) pixels as requested */
body {
    background-color: #ffffff;
    min-width: 510px;
    max-width: 960px;
}

/* Header 1 */
/* Setting the colour and font size for header 1 with the addition of the sign language logo in the top right corner */
/* Used font family as a fallback system, ensuring maximum compatability */
h1{
    color: #195c91;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-serif";
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(""); /* need to sort out this for the okay sign languag pic top right */
    background-repeat: no-repeat;
    background-position: 95% 98%;
    border-bottom: 10px solid #196c91;
}

/* Header 2 */
/* Setting the colour and font size for header 2 */
h2{
    color: #195c91;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-serif";
    padding-left: 10px;
    margin-bottom: 0;

}

/* Header 3 */
/* Setting the colour and font size for header 3 */
h3{
    color: #195c91;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-serif";
    margin-left: 10px;
}

/* Setting the font size for the paragraphs */
p{
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    padding-left: 10px;
}

/* Thematic break */
/* Styling the hr lines with colour and height */
hr{
    height: 10px;
    background-color: #195c91 !important;
    width: 100%;
    position: relative;
}

/* Lists */
/* Setting fonts for all list */
li{
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
}

/* Contents bar */
/* Sets the contents bar to the colour, the full width and positioning for the navigation of the webpage */
#contents{
    background-color: #195c91;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    float: right;
}

/* Contents drop down menu */
/* Setting the contents drop down menu to the correct position and colour */
#contents ul li ul{
    position: absolute;
    background-color: #195c91;
    display: none;
    width: 30%;
    right: 0;
    padding: 0;
}

/* Drop down contents appear when user moves over them */
#contents ul li:hover ul{
    display: block;
}

/* Sets the drop down contents to the center and arranged as a block */
#contents ul li ul li{
    text-align: center;
    display: block;
}

/* The text changes to a light blue colour when user is moves over the contents in the drop down list */
#contents ul li a:hover{
    color: #84c3f7;
}

/* Lists are set to the right*/
#contents ul{
    float: right;
}

/* Lists are set to displaying vertically */
#contents ul li{
    display: inline;
}

/* Setting the drop down list link colours, size and distance. */
#contents ul a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none; /* removes the hyperlink blue background to none */
    padding: 15px 15px;
}

/* History Section */
/* Sets the image to the correct place */
#History img{
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    border-left: 20px;
    padding: 20px;
}


/* Linguistics Section */
/* Setting styles for the map of a world division to create a border surrounding it  */
#map{
    border: 15px;
    border: 3px #195c91 double;
    width: 50%;
    padding: 10px;
    font-size: 12px;
    margin-left: 20px;
    float:left;
    width: 50%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Sets the colour block images to the left with the map */
 #map img{
    float: left;
}

/* Sets the paragraph next to the map */
#para{
    float: left;
    width: 40%;
} 

/* Sets the text in the map section */
#map p{
    position: relative;
    margin-top: 5px;
    left: 5px;
}

/* Sets the figure legend under the map and adds a line border beneath it to separate it*/
.figurelegend{
    text-align: center;
    border-bottom: 2px solid #195c91;
}

/* setting the width of the map image */
.map img{
    margin-left: 0px;
    padding-left: 0px;
    width: 97%;
}

/* Sets the legend title to small caps and bold */
.legend{
    font-weight: bold;
    font-variant: small-caps;
}

/* British sign language section */
/* Sets the position of the video to the top of the frame */
#video{
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    padding: 10px;
}

/* Positions the video into the correct position */
#video object{
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 10px;
    position: relative;
}

/* Styling the figure legend of the video */
#video p{
    font-size: 12px;
    text-align: center;
}

/* Styling the letter paragraphs */
#letters p{
    padding: 3px;
    background-color: #195c91;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 12px;
    border-left: 1px solid black; 
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* Styling the letter sign images into the correct format and position */
#letters img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

/* Styling the numbers paragraph */  
#numbers p{
    padding: 3px;
    background-color: #195c91;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

/* Styling the number sign images into the correct format and position */
#numbers img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
} 

/* Setting the header 'numbers' and 'letters' to red  */
.red{
    color: #ff0000;
    display: inline;
}

/* Sets the images in a box */
.signs{
    margin: 10px;
    max-width: 960px;
    display: inline-block;
}

/* Setting the font size for the images within the boxes */
.signs p span{
font-size: 10px;
}

/* Setting the link to the right */
#wikipedia{
    font-size: 12px;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px; 
}